table{

    margin: 45px 10px 10px 0px;
    width: 100%;

}

tr{
    border: 1px solid;
    text-align: center;
}
td{
    width: 50%;
    border : 1px solid;
    font-size: 20px;
    color: blue;
}
.first{
    font-size: 25px;
    font: bold;
    background-color: aqua;
    color: green;
}
.last{
    font-size: 25px;
    font: bold;
    background-color: aqua;
    color: green;
}
#head{
    color: black;
    text-align: center;
}
.name{
    width: 30%;
    height: 20px;
}
.price{
    width: 30%;
    height: 20px;
}
.text{
    font-size: 30px;
    font: bold;
    color: darkcyan;
}
#button{
    font-size: 20px;

}
div{
    align-items: center;
}
#print{
    margin: 0% 0% 0% 48%;
    height: 30px;
}